
* {
  border: 0;
  padding: 0;
  margin: 0;
  position: sticky;
}

/*=======================================

              Navigation

=========================================*/

header{
  background: #333;
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 99;
}

header nav ul li{
  display: inline;
}

header nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 0 20px;
  transition: .3s
}

a:hover {
  color: rgb(176,125,177);
  transition: .3s;
}

/*=======================================

              Header Image

=========================================*/

.top-section {
  background-image: url("../images/header.jpeg");
  background-attachment: fixed;
  background-repeat: repeat;
  text-align: right;
  padding: 100px 5px;
}

.top-section img {
  width: 150px;
  opacity: 90%;
}

/*=======================================

          Personal Gallery

=========================================*/
.gallery nav ul li{
  display: inline;
}

.gallery nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  margin: 20px;
  transition: .3s
}

.gallery nav {
  padding: 50px 20px;
  text-align: left;
}

.gallery nav ul li:first-child {
  opacity: 65%;
  color: rgb(176,125,177);
}

.gallery nav ul li a:hover {
  color: rgb(176,125,177);
}

.gallery h1 {
  font-size: 20px;
  text-align: left;
  padding: 15px 10px 5px 10px;
}

.personal {
  display: inline-block;
}

.personal img {
  width:270px;
  opacity: 50%;
  transition: .3s;
  padding: 10px 55px;
  box-shadow: rgb(176,125,177) 11px 0px 8px;
  border-radius: 25px;
  margin: 10px 50px;
  padding-top: 5px;
  background: white;
}

.personal img:hover{
  opacity: 100%;
  transition:.5s;
}

.left {
    transform: rotate(-90deg);
    position: fixed;
    font-size: 60px;
    opacity: 50%;
}

.right {
    transform: rotate(90deg);
    position: fixed;
    font-size: 60px;
    right: 0px;
    opacity: 50%;
}

.gallery {
  margin: 0 auto;
  text-align: center;
  min-width: 1000px;
  background: lavender;
}

#horizontal img{
  width: 400px;
}
.random-work{
  padding: 20px 5px;
  background: gray;
}
.random-work img{
  padding:5px;
  margin: 3px;
}

/*=======================================

          Pokearmor Gallery

=========================================*/
.pokearmor nav ul li{
  display: inline;
}

.pokearmor nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  margin: 20px;
  transition: .3s
}

.pokearmor nav {
  padding: 50px 20px;
  text-align: left;
}

.pokearmor nav ul li:nth-child(2) {
  opacity: 65%;
  color: rgb(176,125,177);
}

.pokearmor nav ul li a:hover {
  color: rgb(176,125,177);
}

.pokearmor {
  text-align: center;
  margin: 0 auto;
  min-width: 1000px;
  background: lavender;
  padding-bottom: 40px;
}

.armors {
  display: inline-block;
}
.armors img{
  width:300px;
  margin: 5px;
  padding: 5px;
  opacity: 60%;
  background:white;
  box-shadow: rgb(176,125,177) 11px 0px 8px;
  border-radius: 5px;
  transition: .3s;
}

.armors :hover{
  opacity: 100%;
  transition: .3s;
}

/*=====================================

        Commission

======================================*/


.prices ul li {
  display: inline;
}

.prices ul {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background: darkgray;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
}

.prices{
  padding-bottom: 25px;
}


/*=====================================

        Armor Accordion

======================================*/

.ia-container {
	width: 435px;
	margin: 20px auto;
	overflow: hidden;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.08);
	border: 7px solid rgba(255,255,255,0.6);
}

.ia-container figure {
    position: absolute;
	top: 0;
	left: 50px; /* width of visible piece */
	width: 335px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
    transition: all 0.3s ease-in-out;
}

.ia-container > figure {
    position: relative;
	left: 0 !important;
}

.ia-container img {
	display: block;
	width: 100%;
}

.ia-container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px; /* just cover visible part */
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.ia-container input:checked{
	width: 5px;
	left: auto;
	right: 0px;
}
.ia-container input:checked ~ figure {
    left: 335px;
    transition: all 0.7s ease-in-out;
}

.ia-container figcaption {
	width: 100%;
	height: 100%;
	background: rgba(87, 73, 81, 0.1);
	position: absolute;
	top: 0px;
    transition: all 0.2s linear;
}

.ia-container figcaption span {
	position: absolute;
	top: 40%;
	margin-top: -30px;
	right: 20px;
	left: 20px;
	overflow: hidden;
	text-align: center;
	background: rgba(87, 73, 81, 0.3);
	line-height: 20px;
	font-size: 18px;
    opacity: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption{
	background: rgba(87, 73, 81, 0);
}

.ia-container input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
	opacity: 1;
	top: 50%;
}

.ia-container #ia-selector-last:checked + figcaption span {
	transition-delay: 0.3s;
}

.ia-container input:hover + figcaption {
	background: rgba(87, 73, 81, 0.03);
}

.ia-container input:checked ~ figure input{
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .ia-container {
		width: 540px;
	}

	.ia-container figure {
		left: 40px;
		width: 260px;
	}

	.ia-container input {
		width: 40px;
	}

	.ia-container input:checked ~ figure {
		left: 260px;
	}

	.ia-container figcaption span {
		font-size: 16px;
	}
}

@media screen and (max-width: 520px) {
    .ia-container {
		width: 320px;
	}

	.ia-container figure {
		left: 20px;
		width: 180px;
	}

	.ia-container input {
		width: 20px;
	}

	.ia-container input:checked ~ figure {
		left: 180px;
	}

	.ia-container figcaption span {
		font-size: 12px;
		letter-spacing: 2px;
		padding: 10px;
		margin-top: -20px;
	}

}

/*=====================================

        Contact Form

======================================*/

form {
  background: darkgray;
  padding: 20px;
  max-width: 500px;
  border-radius: 5px;
  margin: 0 auto;
}

.label_input_wrap {
  display: block;
}

label {
  font-weight: bold;
}

.submit input {
  background: #333;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  transition: .3s;
}

.input-section {
  margin-bottom: 10px;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
}

textarea {
  padding: 5px;
  border-radius: 5px;
}

.container{
  margin: 0 auto;
  padding-bottom: 30px;
  background: gray;
}

.container h1 {
    font-size: 25px;
    padding: 20px 10px 10px 5px;
    text-align: center;
}

.container p {
  text-align: center;
  padding-bottom: 10px;

}

.submit :hover {
  background: rgb(176,125,177);
  color: #333;
  font-weight: bold;
  padding: 5px 18px;
  transition: .3s;
}

/*=====================================

          About

======================================*/
.about{
  min-height: 500px;
}

.about h1{
  font-size: 25px;
  margin: 5px;
  padding: 5px;
}
.about img{
  border-radius: 500px;
  float: left;
  width: 300px;
  margin: 30px;
  padding: 20px;
  box-shadow: rgb(176,125,177) 11px 0px 8px;
  background: gray;
}

.about p {
    margin: 20px;
    font-size: 20px;
    top: 135px;
    position: relative;
}
/*=====================================

          Footer

======================================*/

.socialmedia {
  background:#333;
  text-align: center;
}

.icon img{
  width: 50px;
  margin: 10px;
  padding: 5px;
}

.icon {
  display: inline-block;
}
.icon a{
  transition: .3s;
}
.icon a :hover{
  background: gray;
  border-radius: 10px;
  transition:.3s;
}
